* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background: #8c54fb;
}

.painel-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F4F4F4;
    width: 375px;
    height: 760px;
    border-radius: 15px;
    margin: 0 auto 65px auto;
}
.texto-e-informacoes-internas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0 24px;
    margin-top: 45px;
}
.labels-e-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.painel-conversao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 276px;
    border: 1px solid #772FD3;
    border-radius: 20px;
    
}
.imagem-principal{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
.display-conversao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1px;
}
.seta{
    
    width: 35px;
    height: 50px;
    margin: 7px 0px;
}
select{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    appearance: none;
    padding: 0 12px;
}
input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 0 12px;
    
}
input::placeholder{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

}
.input-valor{
    height: 70px;
}
b{
    color: #777777;
}
option{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
label{
    font-size: 14px;
    line-height: 18px;
    color: #777777;


}
.legenda{
    display: block;
    margin-bottom: 10px;
    
}

button{
    background-color: #772FD3;
    color: #FFFFFF ;
    width: 330px;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.50);
    margin-top: 23px;
    margin-bottom: 36px;
}
